extends ../layout
include ../_forms

block header_meta
	- var content_title= 'РЕДАКТИРОВАТЬ АНОНС'

block header_include
	- var include_libs_css = ['pickmeup.min.css']
	- var include_css = ['add.css']
	- var include_libs_js = ['jquery.pickmeup.min.js']
	- var include_js = ['add.js', 'a_events.js']

block sub_menu
	a.sub_item.back_link(href='/admin/announces') Назад
	span.sub_item.toggle_eng Перевод
	.sub_right_block
		input.form_cancel(type='submit', value='Отменить')
		input.form_submit(type='submit', value='Сохранить')


block content
	.form_block
		.title= content_title
		form(action="", method="post")
			.form_title Название:
			+form_text_single('title', announce)
			.form_title Подзаголовок:
			+form_text_single('s_title', announce)
			.form_title Ссылка:
			input(type='text', name='link', value=announce.link)
			.form_title Начало показа:
			+form_date('interval[start]', announce.interval.start)
			.form_title Окончание показа:
			+form_date('interval[end]', announce.interval.end)
			.form_title Статус:
			select(name='status')
				option(value='base') Обычный
				option(value='hidden', selected= announce.status == 'hidden' && 'hidden') Скрытый
			.form_title Дата публикации:
			+form_date('date', announce.date)