extends ../layout
include ../_forms.jade

block header_meta
	- var content_title= 'ДОБАВИТЬ ПАРТНЕРА'

block header_include
	- var include_libs_css = ['pickmeup.min.css']
	- var include_css = ['add.css']
	- var include_libs_js = ['jquery.pickmeup.min.js']
	- var include_js = ['add.js', 'a_events.js']

block sub_menu
	a.sub_item.back_link(href='/admin/partners') Назад
	span.sub_item.toggle_eng Перевод
	.sub_right_block
		input.form_cancel(type='submit', value='Отменить')
		input.form_submit(type='submit', value='Добавить')

block content
	.form_block
		.title= content_title
		form(action="", method="post", enctype="multipart/form-data")
			.form_title Название:
			+form_text_single('title')
			.form_title Логотип:
			+form_single_file('logo')(accept='image/jpeg,image/png,image/gif')
			.form_title Ссылка:
			input(type='text', name='link')
			.form_title Статус:
			select(name='status')
				option(value='base') Обычный
				option(value='hidden') Скрытый
				option(value='special') Особый
			.form_title Дата публикации:
			+form_date('date')

