extends ../layout
include ../_forms.jade
include _forms.jade

block header_meta
	- var content_title= 'ДОБАВИТЬ СОБЫТИЕ'

block header_include
	- var include_libs_css = ['pickmeup.min.css', 'font-awesome.css', 'wysiwyg-editor.min.css']
	- var include_css = ['add.css']
	- var include_libs_js = ['jquery.pickmeup.min.js', 'wysiwyg.min.js', 'wysiwyg-editor.min.js', 'jquery-ui.min.js', 'jquery.filedrop.js']
	- var include_js = ['upload.js', 'editor.js', 'add.js', 'a_events.js', 'aa_events.js', 'aa_forms.js']

block sub_menu
	a.sub_item.back_link(href='/admin/events') Назад
	span.sub_item.toggle_eng Перевод
	.sub_right_block
		input.form_cancel(type='submit', value='Отменить')
		input.form_submit(type='submit', value='Добавить')

block content
	.form_block
		.title= content_title
		form(action="", method="post", enctype="multipart/form-data")
			.form_title Название:
			+form_text_single('title')
			.form_title Подзаголовок:
			+form_text_single('s_title')
			.form_title Синоним:
			span= 'https://' + host + '/events/'
			input(type='text', name='sym')
			.form_title Описание:
			+form_text_multi('description')
			.form_title Продолжительность:
			+form_text_single('duration')
			.form_title Площадка:
			+form_text_single('place')
			.form_title Возраст:
			select(name='age')
				each age, i in new Array(22)
					option(value=i)= i + '+'
			.form_title Расписание:
			+form_schedule()
			.form_title Партнеры:
			+form_partners()
			.form_title Участники:
			+form_members()
			.form_title Комментарии:
			+form_comments()
			.form_title Пресса:
			+form_publications()
			.form_title Обложка:
			+form_single_file('poster')(accept='image/jpeg,image/png,image/gif')
			.form_title Изображения:
			+form_images_upload()
			.form_title Статус:
			select(name='status')
				option(value='base') Обычный
				option(value='hidden') Скрытый
			.form_title Дата публикации:
			+form_date('date')

