extends ../layout
include ../_forms

block header_meta
	- var content_title= 'РЕДАКТИРОВАТЬ КОНТЕНТ'

block header_include
	- var include_libs_css = ['font-awesome.css', 'wysiwyg-editor.min.css']
	- var include_css = ['add.css']
	- var include_libs_js = ['wysiwyg.min.js', 'wysiwyg-editor.min.js']
	- var include_js = ['editor.js', 'add.js']

block sub_menu
	a.sub_item.back_link(href='/admin/medias') Назад
	span.sub_item.toggle_eng Перевод
	.sub_right_block
		input.form_cancel(type='submit', value='Отменить')
		input.form_submit(type='submit', value='Сохранить')


block content
	.form_block
		.title= content_title
		form(action="", method="post")
			.form_title Название:
			+form_text_single('title', media)
			.form_title Описание:
			+form_text_multi('description', media)
			.form_title Обложка:
			+form_single_file('poster', media)(accept='image/jpeg,image/png,image/gif')
			.form_title Видео MP4:
			+form_multiple_files('video', media)(accept='video/mp4')
			.form_title Статус:
			select(name='status')
				option(value='base') Обычный
				option(value='hidden', selected= media.status == 'hidden' && 'hidden') Скрытый
				option(value='special', selected= media.status == 'special' && 'special') Особый