extends ../layout
include ../_forms.pug

block header_meta
	- var content_title= 'ДОБАВИТЬ ЗАПИСЬ'

block header_include
	- var include_libs_css = ['pickmeup.min.css', 'font-awesome.css', 'wysiwyg-editor.min.css']
	- var include_css = ['add.css']
	- var include_libs_js = ['jquery.pickmeup.min.js', 'wysiwyg.min.js', 'wysiwyg-editor.min.js']
	- var include_js = ['editor.js', 'add.js', 'a_events.js']

block sub_menu
	a.sub_item.back_link(href='/admin/posts') Назад
	span.sub_item.toggle_eng Перевод
	.sub_right_block
		input.form_cancel(type='submit', value='Отменить')
		input.form_submit(type='submit', value='Добавить')

block content
	.form_block
		.title= content_title
		form(action="", method="post", enctype="multipart/form-data")
			.form_title Название:
			+form_text_single('title')
			.form_title Подзаголовок:
			+form_text_single('s_title')
			.form_title Синоним:
			span= 'https://' + host + '/posts/'
			input(type='text', name='sym')
			.form_title Описание:
			+form_text_multi('description')(classes=['image', 'image_position', 'video', 'header', 'order', 'unorder'])
			.form_title Постер:
			+form_single_file('poster')(accept='image/jpeg,image/png,image/gif')
			.form_title Вид в потоке:
			select(name='view')
				option(value='base') обычный
				option(value='blank') отбивка
			.form_title Стиль:
			select(name='style')
				option(value='white') Белый текст / черный фон
				option(value='black') Черный текст / белый фон
			.form_title Затенение фона:
			select(name='holder')
				option(value='true') Вкл.
				option(value='false') Выкл.
			.form_title Статус:
			select(name='status')
				option(value='base') Обычный
				option(value='hidden') Скрытый
			.form_title Дата публикации:
			+form_date('date')

