.slider_navigate
	display none

.swiper-button-next
	right 20px!important
	display none

.swiper-button-prev
	left 20px!important
	display none

.swiper-pagination
	right 20px!important
	bottom 20px!important

.slide_body
	margin-top 80px!important
	margin-left 20px!important
	margin-right 20px!important
	.slide_title
		font 22pt/24pt 'PT Mono Bold'
	.slide_description
		margin-left 0!important
		font 12pt/16pt 'PT Mono'!important
	.slide_attach
		margin-left 0!important
		font 12pt/16pt 'PT Mono Bold'!important