.menu_items, .nav_block, .logo, .logo_spacer
	display none


.title_block
	height 60px!important
	overflow-y scroll
	-webkit-overflow-scrolling touch
	// background-color red!important
	.title_inner
		margin-left 20px!important
		margin-right 20px!important
		.stargazer_block
			height 0
			overflow hidden
		.nav_block
			position absolute
			left 0
			bottom 10px
		.menu_block a
			font 16pt/18pt 'PT Mono'
			margin-bottom 40px!important
			margin-left 0
		.menu_open
			margin-top 6px
	&.open
		z-index 999999999!important
		top 0
		height 100%!important
		position fixed
		.menu_open
			margin-top 14px
			width 20px!important
			height 20px!important
			background-size 100%!important
		.title_inner
			height 160px
		.menu_items
			position absolute
			left 0
			top 200px
			display block
		.nav_block
			display block
		.logo
			display block


.footer_block
	.footer_inner
		border none!important
		margin-left 20px!important
		margin-right 20px!important
	.footer_main
		flex-direction column
		.social_block
			order 1
			border-bottom 1px solid black!important
			width 100%!important
			text-align center
			padding-bottom 20px
			display flex
			justify-content space-between
			a
				margin 0!important
		.logo_dep
			order 2
			margin-top 30px
		.quality
			margin-top 30px
			order 3
			text-align center
			img
				margin 0 auto
				float none
				margin-bottom 12px
	.footer_under
		flex-direction column
		text-align center
		.docs
			color grey
			order 1
			margin-top 10px
		.copy
			color grey
			order 2
			margin-top 20px


.search_block
	padding-left 20px!important
	padding-right 20px!important
	-webkit-overflow-scrolling touch
	.context_column
		margin-bottom 40px!important
		.context_title
			position relative!important
			margin-bottom 40px
		&.members
			.item_photo
				margin-bottom 20px
		&.events
			.item_poster
				height 180px!important
			.result_item
				width 100%!important
				padding 0!important
				margin-bottom 40px!important