.menu_items, .nav_block, .logo_block, .logo_spacer
	display none!important

.title_block
	// background-color red
	height 60px!important
	&.open
		overflow-y scroll
		-webkit-overflow-scrolling touch
		.nav_block
			display flex!important
		.menu_open
			width 20px!important
			height 20px!important
			background-size 100%!important
			margin-top 16px!important
	.logo_block img
		width 120px!important
	.title_inner
		margin-left 20px!important
		margin-right 20px!important
		.nav_block
			position absolute
			left 0
			top 120px
		.menu_top
			.menu_open
				margin-top 6px
		.menu_main
			padding 0!important
		.menu_bottom
			position relative!important
			bottom auto!important
			.bottom_main
				margin-top 120px
			.bottom_social
				margin-top 40px
				margin-bottom 20px
			.bottom_main
			.bottom_social
				float none!important
				padding 0!important
				display flex!important
				justify-content space-between
				width 100%
				a
					font-size 12pt!important
					margin 0!important


.footer_block
	.footer_inner
		border none!important
		margin-left 20px!important
		margin-right 20px!important
	.footer_main
		flex-direction column
		.social_block
			order 1
			border-bottom 1px solid black!important
			width 100%!important
			text-align center
			padding-bottom 20px
			display flex
			justify-content space-between
			a
				margin 0!important
		.logo_dep
			order 2
			margin-top 30px
		.quality
			margin-top 30px
			order 3
			text-align center
			img
				margin 0 auto
				float none
				margin-bottom 12px
	.footer_under
		flex-direction column
		text-align center
		.docs
		.students
		.partners
			margin-top 10px
			color grey
		.copy
			color grey
			order 2
			margin-top 20px


.search_block
	padding-left 20px!important
	padding-right 20px!important
	-webkit-overflow-scrolling touch
	.search_close
		margin-top 16px!important
		width 20px!important
		height 20px!important
		background-size 100%!important
	.context_column
		margin-bottom 40px!important
		&.members
			.item_photo
				width 100%!important
				height 0!important
				padding-bottom 100%!important
				margin-bottom 20px
				float none!important
				margin-right 0!important
		&.events
			.item_poster
				padding-bottom 75%!important
			.result_item
				width 100%!important
				padding 0!important
				margin-bottom 40px!important


.subs_block
	padding-left 20px!important
	padding-right 20px!important
	-webkit-overflow-scrolling touch
	.subs_close
		margin-top 16px!important
		width 20px!important
		height 20px!important
		background-size 100%!important

