.logo_block
	display block!important

.banner_block
	padding-left 20px!important
	padding-right 20px!important
	.banner_close
		display block!important


.announcement_block
	top 180px!important
	left 20px!important
	right 20px
	border none!important
	padding-left 0!important

.swiper-pagination
	bottom 20px!important
	margin-right -20px!important

.journal_open
	left 20px!important
	bottom 20px!important

.journal_title
	margin-top 60px!important
	margin-bottom 60px!important

.journal_block
	padding-left 20px!important
	padding-right 20px!important

.post_item
	width 100%!important
	margin-bottom 60px!important
	.post_title
		font 18pt/28pt 'PT Mono Bold'!important
	&.blank
		.post_intro
			width 60%!important
	&.double
		.poster_cover
			opacity 1!important
		.post_hover
			opacity 1!important