.menu_block
	position absolute!important
	background-color transparent!important
	a
		margin-bottom 40px!important
		&.hidden
			display inline-block!important
	.mail
		margin-top 40px

.menu_drop
	display none!important

.posters_block
	opacity .5