.banner_block
	padding-left 20px!important
	padding-right 20px!important
	.banner_close
		display block!important


.announcement_block
	top 120px!important
	left 20px!important
	border none!important
	padding-left 0!important

.swiper-pagination
	bottom 20px!important
	margin-right -20px!important