.contacts_block
	.contacts_email
		display none!important
	.contacts_adress
		width auto!important
		float none!important
		margin-top 0px!important
		padding 0!important
	.contacts_body
		width auto!important
		float none!important
		padding 0!important
		margin-top 0!important

.peoples_block
	.block_title
		width auto!important
		float none!important
	.block_items
		width auto!important
		float none!important
		.block_item
			width 240px!important
			margin-bottom 60px!important
			margin-left 0!important
			.item_photo
				width 240px!important
				height 280px!important
			.item_open
				opacity 1!important
		.items_master
			flex-direction column!important
			align-items center
		.items_slave
			margin-top 0!important
			padding-left 0!important

.press_block
	.block_items
		flex-direction column!important
		align-items center
		.block_item
			margin-bottom 20px
			&:last-child
				margin-bottom 0

.awards_block
.events_block
	.block_item
		display flex!important
		flex-direction column
		justify-content flex-start
		margin-bottom 40px
		position relative
		&.hidden
			display none!important
		&:last-child
			margin-bottom 0
		.item_title
			padding-top 0!important
			padding-bottom 10px!important
			display flex!important
			padding-right 0!important
			margin-bottom 10px
			width 100%!important
			order 2!important
		.item_s_title
			padding-top 0!important
			padding-bottom 10px!important
			display flex!important
			width 100%!important
			padding-right 0!important
			margin-bottom 10px
			order 1!important
		.item_place
			padding-top 0!important
			padding-bottom 40px!important
			order 3!important
			width 80%!important
			padding-right 20px
		.item_year
			padding-top 0!important
			padding-bottom 40px!important
			order 4!important
			width 10%!important
			position absolute
			right 10px
			bottom 0

.portfolio_block
	.link
		font 16pt/22pt 'MinionPro Semibold'!important
		margin-top 0!important
		margin-bottom 80px!important

.block_cut
	text-align center