.content_block
	padding-left 20px!important
	padding-right 20px!important

.partner_type
	width 100%!important
	.type_title
		width 100%!important
	.type_list
		margin-left 0!important
	.partner_item
		width 50%!important
		padding-left 0!important
		box-sizing border-box
		&:nth-child(odd)
			padding-right 40px!important
		&:nth-child(even)
			padding-left 40px!important