.post_header_meta
	padding-left 20px!important
	padding-right 20px!important
	padding-top 80px!important
	min-height 200px!important
	.post_header_title
		font 22pt/24pt 'PT Mono Bold'!important

.post_header_date
	left 20px!important

.post_intro
	padding-left 20px!important
	padding-right 20px!important
	font 22pt/36pt 'PT Serif'!important

.post_body
	padding-left 20px!important
	padding-right 20px!important
	.post_description
		img
			width 100%!important
			max-width 100%!important
			margin-right 0!important
			margin-left 0!important
			padding 0!important
			float none!important