.content_block
	min-height none!important
	margin-top 0px!important
	&:before
	&:after
		display none!important

.roles_title
	position absolute!important
	top 20px
	right 20px
	display inline-block!important
	z-index 99999999999!important


.members_header
	padding-top 0!important
	top 60px!important
	padding-left 20px!important
	padding-right 20px!important
	height auto!important
	&.fix
		position absolute!important
	.members_roles
		padding-top 0!important
		display none!important
		&.open
			display block!important
		.select_role.selected
			display none!important


.members_title
	display none!important


.member_item
	width 33.333333333%!important
	padding-top 33.333333333%!important
	&:hover .in
		top 10px!important; left 10px!important; right 10px!important; bottom 10px!important
	&.active .in
			top 25px!important; left 25px!important; right 25px!important; bottom 25px!important

.panel_photo
	width 100%!important
	padding-top 100%!important
	float none!important

.panel_body
	width 100%!important
	float none!important
	padding-top 20px
	padding-left 0!important

.panel_description
	margin-top 0!important