.members_header
	padding-top 0px!important
	z-index 9999!important
	top 30px!important
	left 0px!important
	z-index 999999999!important
	background-color red!important
	// height 0!important
	.members_header_inner
		padding-left 0px!important
		padding-right 0px!important
	.roles_title
		background-color green
		position absolute
		top 0!important
		right 20px!important
	.roles_list
		padding-left 20px
		box-sizing border-box
		margin-top 40px






// .members_header
// 	padding-top 20px!important
// 	z-index 9999!important
// 	top 20px!important
// 	right 0!important
// 	left auto!important
// 	.members_header_inner
// 		padding-left 0px!important
// 		padding-right 20px!important
// 	&.fix
// 		position absolute!important
// 	.roles_title
// 		background-color green
// 		position absolute
// 		top 0!important
// 		right 0px
// 		width auto!important
// 	.roles_list
// 		background-color red
// 		position absolute!important
// 		width 100%!important
// 		left 0!important



// .members_header
// 	top 0!important
// 	left auto!important
// 	right 0
// 	width auto!important
// 	padding-top 20px!important
// 	z-index 99999999!important
// 	.members_header_inner
// 		padding-left 0!important
// 		padding-right 20px!important
// 	&.fix
// 		position absolute!important

.members_title
	display none!important

.members_list
	margin-left -40px!important
	margin-right -40px!important
	margin-top 0!important

.member_item
	width 33.333333333%!important
	padding-top 33.333333333%!important
	&:hover .in
		top 10px!important; left 10px!important; right 10px!important; bottom 10px!important
	&.active .in
			top 25px!important; left 25px!important; right 25px!important; bottom 25px!important

.panel_photo
	width 100%!important
	padding-top 100%!important
	float none!important

.panel_body
	width 100%!important
	float none!important
	padding-top 20px
	padding-left 0!important