.work_header, .work_columns
	display flex
	flex-direction column
	justify-content flex-start

.work_title
	order 3
	width 100%!important
	margin-bottom 40px!important
	padding-right 0px!important

.work_s_title
	order 1
	width 100%!important
	float left!important
	padding-left 0!important
	margin-bottom 20px!important

.work_column
	width 100%!important
	padding-left 0!important
	padding-right 0!important
	display flex
	flex-direction column
	justify-content flex-start

.work_poster
	order 1

.work_meta
	order 2
	margin-top 40px

.meta_title
	width 30%!important

.meta_data
	width 70%!important

.work_description
	margin-top 40px
	order 3

.image
	min-height 50px!important