.works_block
	flex-direction column!important
	flex-wrap nowrap!important

.work_item
	width auto!important
	margin-bottom 70px!important
	margin-left 0!important
	margin-right 0!important
	&:hover .work_poster
		transition none!important
		filter: none!important
	&:nth-child(2n)
		float none!important

.work_title
	font 22pt/24pt 'MinionPro Semibold'!important

.work_s_title
	display block!important
	position relative!important
	font 16pt/18pt 'MinionPro Semibold'!important

.work_categorys
	margin-top 10px!important