@font-face {
	font-family: 'MinionPro Medium';
	src: url('/libs/fonts/MinionPro-Medium.otf');
}

@font-face {
	font-family: 'MinionPro MediumIt';
	src: url('/libs/fonts/MinionPro-MediumIt.otf');
}

@font-face {
	font-family: 'MinionPro Semibold';
	src: url('/libs/fonts/MinionPro-Semibold.otf');
}