@media screen and (max-width: 840px)
	@import 'mobile/_about.styl'

html, body
	height 100%

.title_block
	position absolute
	height 0

.footer_block
	position absolute
	bottom 0

.content_block
	position absolute
	width 100%
	height 100%

.slider_navigate
	position absolute
	bottom 0px
	bottom 40px
	font 14pt/14pt 'PT Mono'
	left 40px
	z-index 9999999999999
	.navigate_item
		float left
		margin-right 20px
		cursor pointer
		&:hover
			opacity 0.7

.slider_block
	width 100%
	height 100%
	.slide_item
		width 100%
		height 100%
		position relative
		video
			position absolute
			display block
			width 100%
			height 100%
			object-fit cover
			background-size cover
			background-position center
			background-repeat no-repeat
		.slide_holder
			position absolute
			width 100%
			height 100%
			background-color rgba(0, 0, 0, 0.15)
		.slide_body
			max-width 720px
			margin-top 200px
			margin-left 40px
			margin-right 40px
			position absolute
			.slide_title
				text-transform lowercase
				font 24pt/26pt 'PT Mono Bold'
			.slide_description
				margin-top 40px
				margin-left 220px
				font 14pt/18pt 'PT Mono'
			.slide_attach
				margin-top 20px
				font 14pt/18pt 'PT Mono Bold'
				margin-left 220px
				display inline-block
				color black
				text-decoration none
				&:hover
					opacity 0.7

	.swiper-button-next
		right 40px
	.swiper-button-prev
		left 40px
	.swiper-pagination
		bottom 40px
		left auto!important
		right 40px
		width auto
		.swiper-pagination-bullet
			background-color transparent!important
			opacity 1!important
			border 1px solid black
			&.swiper-pagination-bullet-active
				background-color black!important

.maket_block.white
	.swiper-pagination-bullet
		border 1px solid white!important
		&.swiper-pagination-bullet-active
			background-color white!important
	.swiper-pagination-black
	.swiper-button-black
		display none!important
	.slider_navigate
		color white
	.content_block
		background-color black
	.slide_item
		color white
		a
			color white!important