@media screen and (max-width: 840px)
	@import 'mobile/_docs.styl'


.content_block
	max-width 960px
	margin 0 auto
	padding-left 40px
	padding-right 40px

.docs_title
	font 22pt/24pt 'PT Mono Bold'
	margin-top 20px
	margin-bottom 80px
	text-transform lowercase

.docs_list
	font 12pt/18pt 'PT Mono'
	column-width 340px
	column-gap 40px
	margin-bottom 40px
	.doc_item
		min-width 240px
		break-inside avoid
		display inline-block
		vertical-align top
		margin-bottom 40px
		text-decoration none
		color black
		&:hover
			opacity 0.7