.title_block
	position absolute
	height 0

html, body, .maket_block, .content_block
	height 100%

.footer_block
	background-color grey

.event_head
	width 100%
	height 100%
	.head_meta
		top 160px
		left 40px
		z-index 999
		position absolute
		.event_head_title
			text-transform lowercase
			font-size 24pt
			font 22pt/24pt 'PT Mono Bold'
		.event_head_s_title
			font 12pt/18pt 'PT Mono'
			margin-top 40px
			max-width 400px

.event_schedule
	z-index 999
	position absolute
	background-color black
	color white
	padding 20px
	box-sizing border-box
	bottom 0
	width 100%
	.schedule_item
		float left
		margin-right 20px

// .event_body
// 	position absolute
// 	top 100%

.slider_block
	width 100%
	height 100%
	.slide_item
		width 100%
		height 100%
		position relative
		.slide_image
			position absolute
			z-index 0
			width 100%
			height 100%
			background-size cover
			background-position center
			background-repeat no-repeat
		.slide_holder
			position absolute
			width 100%
			height 100%
			background-color rgba(0, 0, 0, 0.15)
	.swiper-pagination
		bottom 40px
		left auto!important
		right 40px!important
		width auto
		.swiper-pagination-bullet
			background-color transparent!important
			opacity 1!important
			border 1px solid black
			&.swiper-pagination-bullet-active
				background-color black!important





.maket_block.white
	.event_head
		color white
	.swiper-pagination-bullet
		border 1px solid white!important
		&.swiper-pagination-bullet-active
			background-color white!important
	.swiper-pagination-black
	.swiper-button-black
		display none!important
	.slider_navigate
		color white
	.content_block
		background-color black
	.slide_item
		color white