@import '_fonts.styl'
@media screen and (max-width: 680px)
	@import 'mobile/_events.styl'

.timeline_block
	width 100%
	border-top 1px solid black
	border-bottom 1px solid black
	box-sizing border-box
	background-color white
	position absolute
	top 160px
	z-index 999
	height 60px
	overflow hidden
	user-select none
	&.fix
		position fixed
		top 0
	.timeline_outer
		width 100%
		overflow hidden	// overflow-x scroll
	.timeline_inner
		vertical-align top
		display inline-block
		white-space nowrap
		font-size 0
		.month_item
			display inline-block
			white-space nowrap
			border-right 1px solid black
			padding-right 40px
			padding-left 40px
			position relative
			opacity .4
			.month_placeholder
				position absolute
				top 0; left 0; right 0; bottom 0;
				margin auto
				cursor pointer
				&.hide
					display none
			&:hover
				opacity 1
			&.selected
				opacity 1
				background-color rgb(247, 247, 247)
				.day_item
					opacity 0.3
				.day_item.enabled:hover
					color white
					background-color black
			&:last-child
				border-right none
				margin-right 0
				padding-right 0
				padding-right 40px
			.day_item
				display inline-block
				white-space nowrap
				cursor default
				margin-right 5px
				padding-top 10px
				padding-bottom 10px
				padding-left 5px
				padding-right 5px
				&.enabled
					cursor pointer
					opacity 1
				&.weekend
					color rgb(226, 82, 65)
				&.selected
					color white
					background-color black
				&:last-child
					margin-right 0
				.day_date
					margin-bottom 6px
					text-align center
					font 10pt/12pt 'PT Mono Bold'
				.day_week
					font 10pt/12pt 'PT Mono'


.events_block
	max-width 960px
	padding-left 40px
	padding-right 40px
	margin 100px auto

.events_title
	margin-left -8px
	margin-bottom 80px
	font 16pt/18pt 'PT Mono Bold'
	user-select none
	cursor default
	.current_month
		text-transform lowercase
		margin-right -5px
		margin-left -5px
		cursor pointer
		display inline-block
		&:hover
			opacity 0.7
	.select_month
		cursor pointer
		position relative
		background-image url('/stuff/praktika/icons/arrow_list.svg')
		width 24px
		height 24px
		display inline-block
		vertical-align middle
		background-position 50% 50%
		background-size 35%
		background-repeat no-repeat
		&:hover
			opacity 0.7
		&.prev
			transform rotate(180deg)

.events_list
	.event_item
		overflow hidden
		margin-bottom 80px
		&.hidden
			display none
		.event_poster
			display block
			width 50%
			height 340px
			float left
			position relative
			overflow hidden
			&.hover:hover
				.poster_main
					display 0
				.poster_hover
					opacity 1
			.poster_hover
			.poster_main
				top 0; left 0; right 0; bottom 0;
				margin auto
				position absolute
				background-position center
				background-repeat no-repeat
				background-size cover
				transition .3s linear
			.poster_hover
				opacity 0
			.poster_main
				&:hover
					transition .3s linear
					top -20px; left -20px; right -20px; bottom -20px;
		.event_body
			width 50%
			float left
			padding-left 70px
			box-sizing border-box
			font 12pt/14pt 'PT Mono'
			.event_head
			.event_content
				overflow hidden
			.event_meta
				float left
			.event_date
				text-transform lowercase
				float left
				font 14pt/16pt 'PT Mono'
				.date
					margin-bottom 10px
			.event_ticket
				float right
				font 14pt/16pt 'PT Mono Bold'
				cursor pointer
			.event_title
				text-transform lowercase
				display block
				text-decoration none
				color black
				margin-top 20px
				margin-bottom 40px
				font 22pt/24pt 'PT Mono Bold'
				&:hover
					opacity 0.7
			.event_premiere
				font 12pt/14pt 'PT Mono Bold'
				margin-bottom 5px
			.event_age
				font 12pt/14pt 'PT Mono Bold'
				&:after
					content '+'
			.event_members
				float left
				margin-left 60px
				.members_group
					margin-bottom 20px
				.group_title
					text-transform lowercase
					font 12pt/14pt 'PT Mono Bold'
				.member_item
					display block
					text-decoration none
					color black
					margin-top 5px
					&.disabled
						opacity 1!important
					&:hover
						opacity 0.7
			.event_description
				font 14pt/22pt 'PT Serif'
				clear both
				margin-top 20px