@import '_fonts.styl'
@media screen and (max-width: 840px)
	@import 'mobile/_global.styl'

body
	margin 0
	padding 0
	// font-smoothing: antialiased;
	// -moz-osx-font-smoothing: grayscale;
	&.stop_scroll
		height 100%
		overflow hidden


.maket_block.white
	.title_block
		a, span
			color white!important
		img, .menu_open
			filter: invert(100%)
	.footer_block
		.social_block
		.footer_inner
			border-color white
		img
			filter: invert(100%)
		a
			color white!important


.subs_block
	display none
	z-index 999999999999
	position fixed
	box-sizing border-box
	overflow scroll
	top 0
	left 0
	width 100%
	height 100%
	background-color white
	padding-left 40px
	padding-right 40px
	box-sizing border-box
	&.show
		display block
	.subs_close
		cursor pointer
		margin-top 5px
		width 42px
		height 42px
		background-position center
		background-repeat no-repeat
		background-size 50%
		background-image url('/stuff/praktika/icons/x.svg')
		&:hover
			opacity 0.7
	.subs_date
		display flex
		flex-wrap wrap
		justify-content space-between
		max-width 960px
		margin 0 auto
	.subs_input
		-webkit-appearance: none;
		border-radius 0
		margin 0 auto
		padding 0
		display block
		margin-top 40px
		margin-bottom 80px
		padding-bottom 10px
		font 22pt/24pt 'PT Mono'
		text-align center
		border none
		outline none
		width 100%
		max-width 960px
		border-bottom 1px solid black
		&.date
			width 25%
			margin 0
	.subs_controls
		text-align center
		margin 0 auto
		max-width 400px
		.subs_submit
			display inline-block
			margin-top 80px
			cursor pointer
			font 14pt/16pt 'PT Mono'
			&:hover
				opacity 0.7
		.subs_status
			font 12pt/14pt 'PT Mono Bold'
			margin-top 20px
			height 40px
		.subs_personal
			font 10pt/16pt 'PT Serif'
			margin-bottom 80px
			a
				color black
				text-decoration none
				font-weight bold
				&:hover
					opacity 0.7


.search_block
	display none
	z-index 999999999999
	position fixed
	top 0
	left 0
	width 100%
	height 100%
	background-color white
	padding-left 40px
	padding-right 40px
	box-sizing border-box
	overflow scroll
	-webkit-overflow-scrolling: touch
	&.show
		display block
	.search_close
		cursor pointer
		margin-top 5px
		width 42px
		height 42px
		background-position center
		background-repeat no-repeat
		background-size 50%
		background-image url('/stuff/praktika/icons/x.svg')
		&:hover
			opacity 0.7
	.search_input
		-webkit-appearance: none;
		border-radius 0
		margin 0 auto
		padding 0
		display block
		margin-top 40px
		margin-bottom 80px
		padding-bottom 10px
		font 22pt/24pt 'PT Mono'
		text-align center
		border none
		outline none
		width 100%
		max-width 960px
		border-bottom 1px solid black
	.context_column
		overflow hidden
		margin-bottom 40px
		position relative
		.context_title
			font 12pt/14pt 'PT Mono'
			max-width 960px
			margin 0 auto
			margin-bottom 40px
		.context_results
			max-width 960px
			margin 0 auto
			overflow hidden
			.results_inner
				margin-left -40px
				font-size 0
			.results_holder
				margin-left 40px
				margin-bottom 40px
				cursor pointer
				font 12pt/14pt 'PT Mono'
				&:hover
					opacity 0.7
			.result_item
				display inline-block
				vertical-align top
				color black
				text-decoration none
				margin-bottom 40px
				box-sizing border-box
				width 50%
				overflow hidden
				padding-left 40px
				&.hidden
					display none
				&:hover
					opacity 0.7
		&.posts .result_item
				width 33.333333333%
		&.events .item_title
				width 65%
		&.posts
		&.events
			.item_poster
				width 100%
				padding-bottom 65%
				background-position center
				background-size cover
				background-repeat no-repeat
			.item_title
				text-transform lowercase
				margin-top 10px
				font 16pt/18pt 'PT Mono Bold'
		&.members
			.item_photo
				width 100px
				height 100px
				margin-right 20px
				float left
				background-position center
				background-size cover
				background-repeat no-repeat
			.item_roles
				font 12pt/14pt 'PT Mono'
				.role
					display inline-block
					margin-right 5px
					&:last-child:after
						content ''
					&:after
						content ','
			.item_name
				margin-top 10px
				font 12pt/14pt 'PT Mono Bold'


.title_block
	width 100%
	height 180px
	font 12pt/14pt 'PT Mono'
	position relative
	z-index 99999
	// background-color red
	a
		color black
		text-decoration none
		&:hover
			opacity 0.7
	&.open
		top 0!important
		position absolute!important
		height 100%!important
		background-color black
		z-index 9999999
		a, span
			color white!important
		img, .menu_open
			filter: invert(100%)
		.logo_block
			display block!important
		.title_inner  // remove mobile
			height 100%!important
		.menu_items a
			display none!important
		.menu_main
		.menu_bottom
			display block!important
	.title_inner
		position relative
		margin-left 40px
		margin-right 40px
		.menu_block
			padding-top 5px
			// background-color rgba(82, 127, 245, 1.000)
			.menu_top
				display flex
				justify-content space-between
				align-items center
				.menu_open
					width 42px
					height 42px
					background-image url('/stuff/praktika/icons/menu.svg')
					background-size contain
					background-position center
					background-repeat no-repeat
					cursor pointer
					// background-color green
					float left
					&:hover
						opacity 0.7
					&.open
						background-size 50%
						background-image url('/stuff/praktika/icons/x.svg')

				.menu_items
					width 420px
					float left
					// background-color rgba(231, 197, 123, 1.000)
					a
						margin-left 40px

				.nav_block
					margin-left auto
					margin-right auto
					display flex
					align-items center
					a
						margin-right 15px
						&:last-child
							margin 0

				.logo_spacer
					width 30%
					height 20px

				.logo_block
					position absolute
					top 20px
					right 0
					z-index 9999999999
					img
						width 140px


			.menu_main
				display none
				margin-top 160px
				padding-left 10px
				span
					margin-bottom 25px
					display block
				a
					font-size 20pt
					line-height 22pt


			.menu_bottom
				display none
				position absolute // remove mobile
				width 100% // remove mobile
				bottom 35px // remove mobile
				overflow hidden
				a
					font-size 14pt
					margin-right 30px
					&:last-child
						margin 0
				.bottom_main
					padding-left 10px
					display inline-block
					float left
				.bottom_social
					display inline-block
					float right














.footer_block
	width 100%
	font 10pt/12pt 'PT Mono'
	padding-top 20px
	padding-bottom 20px
	z-index 9999999
	.footer_inner
		margin-left 40px
		margin-right 40px
		padding-top 20px
		border-top 1px solid black
		.footer_main
			display flex
			justify-content space-between
			align-items center
		.footer_under
			margin-top 20px
			display flex
			justify-content space-between
			.footer_right
				a
					margin-left 15px
					&:first-child
						margin-left 0
	a
		color black
		text-decoration none
		&:hover
			opacity 0.7
	.logo_dep
		flex-grow 1.25
		img
			display block
			width 110px
	.quality
		max-width 230px
		flex-grow 4
		img
			width 45px
			float left
			display block
			margin-right 15px
	.social_block
		flex-grow 1
		text-align right
		a
			margin-left 20px