@import '_fonts.styl'
@media screen and (max-width: 680px)
	@import 'mobile/_global.styl'

body
	margin 0
	padding 0
	// font-smoothing: antialiased;
	// -moz-osx-font-smoothing: grayscale;


.maket_block.white
	.title_block
		a
			color white!important
		.search, .logo, .menu_open
			filter: invert(100%)
	.footer_block
		.footer_inner
			border-color white
		img
			filter: invert(100%)
		a
			color white!important

.title_block
	width 100%
	text-align center
	height 160px
	font 12pt/14pt 'PT Mono'
	position relative
	z-index 9999999
	&.open
		height 160px
		background-color black
		a
			color white!important
		.menu_block
			flex-grow 4.29
		.search, .logo, .menu_open
			filter: invert(100%)
	.title_inner
		position relative
		margin-left 40px
		margin-right 40px
	.panel_block
		display flex
		justify-content center
		align-items flex-start
	.nav_block
		flex-grow 5.8
		padding-bottom 6px
		overflow hidden
		.search
			margin-top 13px
		.lang
			margin-top 15px
			&:hover
				opacity 0.7
		a
			font-weight bold
			display block
			float left
			color black
			text-decoration none
			margin-right 20px
			&:last-child
				margin-right 0
	.menu_block
		flex-grow 3
		padding-top 5px
		display flex
		a
			margin-top 5px
			float left
			display block
			color black
			text-decoration none
			margin-left 40px
			&:hover
				opacity 0.7
		.menu_open
			width 40px
			height 40px
			background-image url('/stuff/praktika/icons/menu.svg')
			background-size contain
			background-position center
			background-repeat no-repeat
			cursor pointer
			&.open
				background-size 50%
				background-image url('/stuff/praktika/icons/x.svg')
		.menu_items
			margin-top 5px
			float left
			text-align left
			.items_main
				float left
			&.open
				.stargazer_block
					display none
				a
					margin-bottom 15px
					margin-right 0
					float none
				.items_drop
					display block
			.items_drop
				display none
	.logo_spacer
		width 120px
	.logo
		position absolute
		top 0
		right 0
		padding-top 20px
		padding-bottom 20px
		width 120px


.footer_block
	width 100%
	font 10pt/12pt 'PT Mono'
	padding-top 20px
	padding-bottom 20px
	z-index 9999999
	.footer_inner
		margin-left 40px
		margin-right 40px
		padding-top 20px
		border-top 1px solid black
		.footer_main
			display flex
			justify-content space-between
		.footer_under
			margin-top 20px
			display flex
			justify-content space-between
	a
		color black
		text-decoration none
		&:hover
			opacity 0.7
	.logo_dep
		img
			display block
			width 110px
	.social_block
		margin-top 5px
		a
			margin-left 20px
	.quality
		display inline-block
		max-width 230px
		img
			width 45px
			float left
			display block
			margin-right 15px