@media screen and (max-width: 840px)
	@import 'mobile/_main.styl'

.maket_block.banner
	.over_block
		padding-top 80px
		box-sizing border-box
	.title_block
		padding-bottom 80px
		box-sizing border-box


html, body, .maket_block, .over_block
	height 100%

.banner_block
	width 100%
	height 80px
	padding-left 40px
	padding-right 40px
	padding-top 20px
	box-sizing border-box
	background-color white
	&.close
		display none
	&:hover .banner_close
		display block
	.banner_close
		display none
		float right
		margin-top 10px
		width 20px
		height 20px
		background-image url('/stuff/praktika/icons/x.svg')
		background-size contain
		background-position center
		background-repeat no-repeat
		cursor pointer
		&:hover
			opacity 0.7
	.banner_logo
		img
			filter: none!important
		display block
		width 120px
		float left

.title_block
	position absolute
	height 0

.announcement_block
	display block
	text-decoration none
	position absolute
	top 35%
	left 40px
	max-width 470px
	z-index 999999
	border-left 4px solid transparent
	padding-left 20px
	color black
	&:hover
		border-left 4px solid black
	.announcement_title
		text-transform lowercase
		font 18pt/28pt 'PT Mono Bold'
	.announcement_s_title
		margin-top 30px
		font 12pt/18pt 'PT Mono'

.slider_block
	width 100%
	height 100%
	user-select none
	.slide_item
		width 100%
		height 100%
		position relative
		video
			position absolute
			z-index 0
			display block
			width 100%
			height 100%
			object-fit cover
			background-size cover
			background-position center
			background-repeat no-repeat
		.slide_holder
			position absolute
			width 100%
			height 100%
			background-color rgba(0, 0, 0, 0.15)
	.swiper-pagination
		bottom 40px
		left auto!important
		right 40px!important
		width auto
		.swiper-pagination-bullet
			background-color transparent!important
			opacity 1!important
			border 1px solid black
			&.swiper-pagination-bullet-active
				background-color black!important


.journal_block
	padding-left 40px
	padding-right 40px
	overflow hidden
	margin 0 auto
	max-width 960px

.journal_title
	font 22pt/24pt 'PT Mono Bold'
	margin-top 80px
	margin-bottom 80px

.jounral_posts
	margin-left -20px
	overflow hidden
	.post_item
		display inline-block
		vertical-align top
		width 33.333333333%
		font-size 0
		color black
		text-decoration none
		padding-left 20px
		margin-bottom 80px
		box-sizing border-box
		position relative
		.post_title
			transition .3s linear
			text-transform lowercase
			font 16pt/18pt 'PT Mono Bold'
			margin-top 10px
			margin-bottom 10px
		.post_poster
			background-position center
			background-repeat no-repeat
			background-size cover
			width 100%
			padding-bottom 75%
			position relative
			overflow hidden
			position relative
			.poster_cover
				transition .3s linear
				opacity 0
				width 100%
				height 100%
				position absolute
				background-color rgba(0, 0, 0, 0.6)
		.post_hover
			transition .3s linear
			.post_date
				font 12pt/12pt 'PT Mono'
				margin-bottom 20px
			.post_intro
				font 12pt/18pt 'PT Serif'
				width 80%
		&:hover
			.post_title
			.post_hover
				transition .3s linear
				opacity 0.7
		&.blank
			width 100%
			border-top 2px solid black
			border-bottom 2px solid black
			padding-left 0
			margin-left 20px
			.post_title
				width 65%
			.post_intro
				width 30%
				margin-top 80px
				margin-bottom 20px
			.post_poster
				display none
		&.double
			width 50%
			.post_title
				width 65%
			.post_hover
				transition .3s linear
				opacity 0
				position absolute
				height 100%
				top 20px
				left 40px
				right 40px
				color white
			&:hover
				.poster_cover
					transition .3s linear
					opacity 1
				.post_hover
					transition .3s linear
					opacity 1!important

.journal_more
	font 14pt/16pt 'PT Mono'
	text-align center
	margin-bottom 40px
	cursor pointer
	&.hide
		display none
	span:hover
		opacity 0.7


.maket_block.white
	.footer_block
		.footer_inner
			border-color black!important
		img
			filter: none
		a
			color black!important
	.announcement_block
		color white
		&:hover
			border-left 4px solid white
	.swiper-pagination-bullet
		border 1px solid white!important
		&.swiper-pagination-bullet-active
			background-color white!important
	.swiper-pagination-black
	.swiper-button-black
		display none!important
	.slider_navigate
		color white
	.over_block
		background-color black
	.slide_item
		color white