@import '_fonts.styl'
@media screen and (max-width: 680px)
	@import 'mobile/_main.styl'

html, body
	height 100%

.title_block
	position absolute
	height 0

.footer_block
	position absolute
	bottom 0

.content_block
	position absolute
	width 100%
	height 100%

.announcement_block
	display block
	text-decoration none
	position absolute
	top 240px
	left 40px
	max-width 470px
	z-index 999999999999
	border-left 4px solid transparent
	padding-left 20px
	color black
	&:hover
		border-left 4px solid black
	.announcement_title
		font 18pt/20pt 'PT Mono Bold'
	.announcement_s_title
		margin-top 30px
		font 12pt/14pt 'PT Mono'

.slider_block
	width 100%
	height 100%
	.slide_item
		width 100%
		height 100%
		position relative
		video
			position absolute
			z-index 0
			display block
			width 100%
			height 100%
			object-fit cover
			background-size cover
			background-position center
			background-repeat no-repeat
		.slide_holder
			position absolute
			width 100%
			height 100%
			background-color rgba(0, 0, 0, 0.15)
	.swiper-pagination
		bottom 110px
		left auto!important
		right 40px!important
		width auto
		.swiper-pagination-bullet
			background-color transparent!important
			opacity 1!important
			border 1px solid black
			&.swiper-pagination-bullet-active
				background-color black!important

.maket_block.white
	.announcement_block
		color white
		&:hover
			border-left 4px solid white
	.swiper-pagination-bullet
		border 1px solid white!important
		&.swiper-pagination-bullet-active
			background-color white!important
	.swiper-pagination-black
	.swiper-button-black
		display none!important
	.slider_navigate
		color white
	.content_block
		background-color black
	.slide_item
		color white