@media screen and (max-width: 840px)
	@import 'mobile/_partners.styl'


.content_block
	max-width 960px
	margin 20px auto
	padding-left 40px
	padding-right 40px
	overflow hidden

.partners_title
	font 22pt/24pt 'PT Mono Bold'
	margin-bottom 80px
	text-transform lowercase
	width 100%

.partners_types
	margin-bottom 40px
	overflow hidden
	font-size 0
	margin-left -3%
	.partner_type
		width 50%
		display inline-block
		vertical-align top
		padding-left 3%
		box-sizing border-box
		.type_title
			font 14pt/18pt 'PT Mono Bold'
			text-transform lowercase
			margin-bottom 40px
			width 65%
		.type_list
			margin-bottom 80px
			margin-left -7.5%
			overflow hidden
			.partner_item
				display inline-block
				vertical-align top
				padding-left 7.5%
				width 25%
				font-size 0
				margin-bottom 40px
				text-decoration none
				color black
				.partner_title
					margin-top 20px
					font 12pt/18pt 'PT Mono'
					text-align center
				.partner_logo
					width 100%
					padding-bottom 75%
					position relative
					overflow hidden
					background-position center
					background-repeat no-repeat
					background-size contain
				&:hover
					opacity 0.7
		&.double
			width 100%
			.type_title
				width 30%
			.type_list
				margin-left -4%
			.partner_item
				padding-left 4%
				width 12.5%
