@import 'mobile/_post.styl'

.title_block
	position absolute
	height 0

.post_header
	min-height 400px
	background-size cover
	background-position center
	background-repeat no-repeat
	position relative
	margin-bottom 80px
	.post_header_meta
		padding-top 200px
		position relative
		padding-left 40px
		padding-right 40px
		padding-bottom 140px
		.post_header_title
			max-width 500px
			text-transform lowercase
			font 28pt/30pt 'PT Mono Bold'
		.post_header_s_title
			font 12pt/18pt 'PT Mono'
			margin-top 40px
			max-width 400px
	.post_header_date
		font 12pt/18pt 'PT Mono'
		position absolute
		bottom 20px
		left 40px


.post_content
	padding-bottom 100px
	max-width 800px
	margin 0 auto
	padding-left 40px
	padding-right 40px
	box-sizing border-box
	.content_description
		hyphens auto
		font 14pt/22pt 'PT Serif'
		img ~ br
			display none
		img
			display block
			max-width 100%
			&.center
				width 100%
			&.double
				margin-left: calc((100% - 1040px) / 2);
				max-width 960px
				padding 15px 40px 10px 40px
			&.left
				max-width 420px
				float left
				padding 15px 15px 10px 40px
				margin-left: calc((100% - 1040px) / 2);
			&.right
				max-width 420px
				float right
				padding 15px 40px 10px 15px
				margin-right: calc((100% - 1040px) / 2);
	.content_share
		margin-top 40px
		.share_title
			font 12pt/14pt 'PT Mono Bold'
		.share_buttons
			margin-top 20px
			.s_button
				display inline-block
				margin-right 25px
				cursor pointer
				&:hover
					opacity 0.7


.maket_block.white
	.post_header_meta
	.post_header_date
		color white
	.footer_block
		.footer_inner
			border-color black!important
		img
			filter: none
		a
			color black!important