.title_block
	position absolute
	height 0

.post_header
	min-height 400px
	background-size cover
	background-position center
	background-repeat no-repeat
	position relative
	margin-bottom 80px
	.post_header_meta
		padding-top 200px
		position relative
		color white
		padding-left 40px
		padding-right 40px
		padding-bottom 140px
		.post_header_title
			max-width 500px
			text-transform lowercase
			font 28pt/30pt 'PT Mono Bold'
		.post_header_s_title
			font 12pt/18pt 'PT Mono'
			margin-top 40px
			max-width 400px
	.post_header_date
		font 12pt/18pt 'PT Mono'
		position absolute
		bottom 20px
		left 40px
		color white


.post_content
	padding-bottom 100px
	max-width 960px
	margin 0 auto
	.content_description
		hyphens auto
		font 14pt/22pt 'PT Serif'
		img
			margin 0 auto
			display block
			max-width 100%
	.content_share
		margin-top 40px
		.share_title
			font 14pt/22pt 'PT Mono Bold'
		// .share_buttons
		// 	.button.fb
		// 	.button.vk
		// 	.button.twitter



.maket_block.white
	.footer_block
		.footer_inner
			border-color black!important
		img
			filter: none
		a
			color black!important