@media screen and (max-width: 840px)
	@import 'mobile/_students.styl'


.content_block
	max-width 960px
	margin 0 auto
	padding-left 40px
	padding-right 40px

.students_title
	font 22pt/24pt 'PT Mono Bold'
	margin-top 20px
	margin-bottom 80px
	text-transform lowercase

.students_content
	font 12pt/18pt 'PT Mono'
	max-width 560px
	hyphens auto
	a
		font 12pt/18pt 'PT Mono Bold'
		text-decoration none
		color black
		&:hover
			opacity 0.7

// .footer_block
// 	position absolute
// 	bottom 0