@media screen and (max-width: 840px)
	@import 'mobile/_team.styl'



.members_header
	top 180px
	width 100%
	height 0
	left 0
	position absolute
	padding-left 40px
	padding-right 40px
	box-sizing border-box
	background-color grey
	&.fix
		position fixed
		top 0

.members_title
	font 22pt/24pt 'PT Mono Bold'
	margin-bottom 40px
	text-transform lowercase
	width 100%
	background-color white
	padding-top 20px
	padding-bottom 20px
	box-sizing border-box

.members_roles
	background-color lime
	font 14pt/16pt 'PT Mono'
	margin-bottom 20px
	cursor pointer
	display inline-block
	box-sizing border-box
	padding-top 4px
	.select_role
		margin-top 10px
		&:hover
			opacity 0.7

.content_block
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top 112px

.members_list
	background-color green
	max-width 1000px
	width: 100%;
	margin-bottom 60px
	overflow hidden
	padding 10px
	box-sizing border-box
	// margin-left -20px
	// margin-right -20px

.members_left
	flex: 0 1 240px;
	min-width 240px
	background-color red

.members_right
	flex: 1 0 40px;
	max-width: 240px;
	background-color grey

.member_item
	text-align center
	float left
	width 16.666666667%
	padding-top 16.666666667%
	box-sizing border-box
	position relative
	&.hide
		display none
	&:hover .in
		transition 0.20s ease
		top 30px; left 30px; right 30px; bottom 30px
	&.active .in
		transition 0.20s ease
		top 45px; left 45px; right 45px; bottom 45px
	.in
		-webkit-backface-visibility: hidden;
		-webkit-transform: translate3d(0, 0, 0);
		-webkit-transform: translateZ(0) scale(1.0, 1.0);
		transform: translateZ(0);
		will-change: transform;

		transition 0.20s ease
		background-repeat no-repeat
		background-position center
		background-size cover
		position absolute
		filter: grayscale(100%)
		top 10px; left 10px; right 10px; bottom 10px
		margin auto
		background-color lightgrey
		box-sizing border-box
		cursor pointer

.panel
	float left
	width 100%
	.in
		padding 10px
		box-sizing border-box
		// margin 10px
		overflow hidden
		.panel_photo
			width 49%
			padding-top 49%
			float left
			background-position top
			background-size cover
			background-repeat no-repeat
		.panel_body
			width 51%
			float left
			padding-left 20px
			box-sizing border-box
			.member_head
				overflow hidden
				margin-bottom 30px
				.member_name
					text-transform lowercase
					font 26pt/28pt 'PT Mono Bold'
					width 60%
					float left
				.member_roles
					width 40%
					text-align right
					float right
					font 12pt/14pt 'PT Mono Bold'
					.role
						display inline-block
						margin-left 10px
						&:after
							content ','
						&:last-child:after
							content ''
			.member_events
				margin-bottom 40px
				.events_title
					font 12pt/14pt 'PT Mono Bold'
				.events_list
					.event_item
						margin-top 5px
						color black
						text-decoration none
						display block
						margin-top 6px
						font 12pt/14pt 'PT Mono'
						&:hover
							opacity 0.7
	.panel_description
		margin-top 20px
		margin-bottom 20px
		float left
		hyphens auto
		font 14pt/22pt 'PT Serif'
		p
			margin 0
			padding 0
			margin-bottom 20px