@media screen and (max-width: 680px)
	@import 'mobile/_works.styl'

@keyframes load {
	0% { opacity: 0; transform translateY(100px); }
	100% { opacity: 1; transform translateY(0); }
}

body.research
	background-color black
	color white
	a
		color white
	.title_block a, .footer_block a
		&:hover
			border-bottom 1px solid white
		&.active
			border-bottom 1px solid white
	.menu_block
		background-color black
	.menu_drop span
		background-color white
	.footer_block .logo span:hover
		border-bottom 1px solid white
	.category_item:hover, .category_item.current
		border-bottom 1px solid white!important

.title_block
	padding-bottom 30px

.footer_block
	padding-top 10px

.works_loader
	text-align center
	padding-bottom 140px
	font 12pt/14pt 'MinionPro Medium'
	text-transform uppercase
	letter-spacing 2px
	margin-top 15px
	&.hide
		display none
	span
		cursor pointer
		&:hover
			border-bottom 1px solid black

.works_block
	width 100%
	display flex
	flex-direction row
	flex-wrap wrap
	min-height 600px
	.work_item
		position relative
		width 40%
		margin-left 5%
		margin-right 5%
		margin-top 10px
		margin-bottom 140px
		animation load .3s linear forwards
		.work_link
			text-decoration none
			&:hover
				.work_s_title
					display block
				.work_poster
					transition .3s linear
					filter: opacity(.3) blur(2px)
			.work_poster
				position relative
				// padding-bottom 56.25%
				padding-bottom 70%
				height 0
				overflow hidden
				max-width 100%
				transition .3s linear
				.poster_image
					background-size cover
					background-position center
					background-repeat no-repeat
					position absolute
					top 0
					left 0
					width 100%
					height 100%
			.work_title
				margin-top 20px
				font 26pt/28pt 'MinionPro Semibold'
				letter-spacing 2px
			.work_s_title
				position absolute
				display none
				top 0
				width 100%
				height 100%
				padding-top 20px
				box-sizing border-box
				font 20pt/22pt 'MinionPro Semibold'
				letter-spacing 2px
		.work_categorys
			font 12pt/14pt 'MinionPro Medium'
			text-transform lowercase
			letter-spacing 2px
			position relative
			z-index 999
			margin-top 5px
			.category_item
				text-decoration none
				display inline-block
				margin-right 10px
				margin-top 5px
				border-bottom 1px solid transparent
				&:before
					content '#'
				&.current
				&:hover
					border-bottom 1px solid black
				&.active
					border-bottom 1px dashed black
				&.out
					border-bottom 1px solid transparent