@media screen and (max-width: 680px)
	@import 'mobile/_work.styl'

body.research
	background-color black
	color white
	a
		color white
	.title_block a, .footer_block a
		&:hover
			border-bottom 1px solid white
		&.active
			border-bottom 1px solid white
	.menu_block
		background-color black
	.menu_drop span
		background-color white
	.footer_block .contacts .mail:hover
		border-bottom 1px solid white
	.image_description, .slide_description
		color white
	.file:hover, .category:hover
		border-bottom 1px solid white!important

.footer_block
	padding-top 50px

.work_header
	overflow hidden
	.work_title
		width 50%
		font 26pt/28pt 'MinionPro Semibold'
		margin-bottom 100px
		letter-spacing 2px
		float left
		padding-right 20px
		box-sizing border-box
	.work_s_title
		width 50%
		font 16pt/22pt 'MinionPro MediumIt'
		padding-top 7px
		margin-bottom 100px
		float right
		padding-left 20px
		box-sizing border-box

.work_columns
	overflow hidden
	margin-bottom 80px
	.work_column
		width 50%
		box-sizing border-box
		&.left
			float left
			padding-right 20px
		&.right
			float right
			padding-left 20px
		.work_description
			hyphens auto
			font 16pt/22pt 'MinionPro Medium'
			a
				text-decoration none
				border-bottom 1px solid black
		.work_poster
			width 100%
			display block
		.work_meta
			width 100%
			display table
			border-collapse collapse
			.meta_column
				letter-spacing 2px
				display table-row
				&:last-child
					border-bottom 30px solid transparent
				.meta_title
					display table-cell
					padding-right 20px
					box-sizing border-box
					width 40%
					float left
					font 14pt/24pt 'MinionPro Semibold'
				.meta_data
					display table-cell
					padding-left 20px
					box-sizing border-box
					width 60%
					float right
					font 14pt/24pt 'MinionPro Medium'
				.file
				.category
					font 14pt/16pt 'MinionPro Medium'
					display inline-block
					text-transform lowercase
					margin-right 15px
					text-decoration none
					&:hover
						border-bottom 1px solid black
				.category:before
						content '#'

.image_item
	margin 0 auto
	margin-bottom 100px
	opacity 0
	transform translateY(100px)
	transition .4s ease-in-out
	&.loaded
		opacity 1
		transform translateY(0px)
	.image
		width 100%
		display block
		min-height 200px
	.image_description
		font 16pt/22pt 'MinionPro Medium'
		margin-top 20px
		hyphens auto
	&.size_1x
		max-width 440px
	&.size_2x
		max-width 580px
	&.size_3x
		max-width 100%

.gallery-block
	margin-bottom 100px
	position relative
	.swiper-button-next
	.swiper-button-prev
		top -35px
		bottom 0
		margin auto
	.swiper-container
		margin 0 auto
		.swiper-slide
			width 100%
			.slide_image
				display block
				width 100%
			.slide_description
				width 100%
				font 16pt/22pt 'MinionPro Medium'
				text-align center
				margin-top 20px
				hyphens auto

	&.g_3x .swiper-container
		max-width 740px

	&.g_2x .swiper-container
		max-width 580px

	&.g_1x .swiper-container
		max-width 440px