extends ../layout
include ../_forms.jade

block header_meta
	- var content_title= 'ДОБАВИТЬ УЧАСТНИКА'

block header_include
	- var include_libs_css = ['pickmeup.min.css', 'font-awesome.css', 'wysiwyg-editor.min.css']
	- var include_css = ['add.css']
	- var include_libs_js = ['jquery.pickmeup.min.js', 'wysiwyg.min.js', 'wysiwyg-editor.min.js']
	- var include_js = ['editor.js', 'add.js', 'a_events.js']

block sub_menu
	a.sub_item.back_link(href='/admin/members') Назад
	span.sub_item.toggle_eng Перевод
	.sub_right_block
		input.form_cancel(type='submit', value='Отменить')
		input.form_submit(type='submit', value='Добавить')

block content
	.form_block
		.title= content_title
		form(action="", method="post", enctype="multipart/form-data")
			.form_title Имя:
			+form_text_single('name')
			.form_title Описание:
			+form_text_multi('description')
			.form_title Роли:
			.snake_outer
				span.snake
					input.back(type="button", value="-")
					select(name='roles[]', disabled=disable)
						- var roles = { actor: 'актер', director: 'режиссер', artist: 'художник', author: 'автор', management: 'менеджмент', partner: 'партнер', consul: 'попечительский совет' }
						each role, i in roles
							option(value=i)= role
				input.forward(type="button", value="+")
			.form_title Фото:
			+form_single_file('photo')(accept='image/jpeg,image/png,image/gif')
			.form_title Статус:
			select(name='status')
				option(value='base') Обычный
				option(value='hidden') Скрытый
				option(value='special') Особый
			.form_title Дата публикации:
			+form_date('date')

