- var month_array = ['сентябрь', 'октябрь', 'ноябрь']
- var week_array = ['пн', 'вт', 'ср', 'чт', 'пт', 'сб', 'вс', 'пн', 'вт', 'ср', 'чт', 'пт', 'сб', 'вс', 'пн', 'вт', 'ср', 'чт', 'пт', 'сб', 'вс', 'пн', 'вт', 'ср', 'чт', 'пт', 'сб', 'вс', 'пн', 'вт', 'ср',]


//-
	- var events = [
		{
			"title": "это тоже я.вербатим",
			"directors": ["Дмитрий Брусникин", "Юрий Квятковский"],
			"desc": "«Брусникинцы» рассказывают истории реальных людей, которые они собрали из жизни — на митингах, вокзалах, в школах, институтах, клубах, на улице и дома"
		},
		{
			"title": "йелэна",
			"directors": ["Фёдор Павлов-Андреевич"],
			"desc": "История о сверхженщине, которая могла бы стать, как положено по истории, причиной войн и смут, восстаний и захватов городов, но вместо этого оказывается хранителем маленького и никому не видного счастья."
		},
		{
			"title": "кеды",
			"directors": ["Руслан Маликов"],http://praktikatheatre.ru/plays/presledovatel
			"desc": "История Гриши, который за 48 часов так и не смог купить новые кеды, но неожиданно перевернул свою жизнь"
		},
		{
			"title": "бы",
			"directors": ["Дмитрий Соколов"],
			"desc": "История, что отвечает на вопрос: «Кем бы я был, если бы не был собой?»"
		},
		{
			"title": "преследователь",
			"directors": ["Алексей Золотовицкий"],
			"desc": "Спектакль-переживание о таланте и предназначении по мотивам рассказа Хулио Кортасара."
		},
	]

- var events = [{"title": "это тоже я.вербатим", "directors": ["Дмитрий Брусникин", "Юрий Квятковский"], "desc": "«Брусникинцы» рассказывают истории реальных людей, которые они собрали из жизни — на митингах, вокзалах, в школах, институтах, клубах, на улице и дома"}, {"title": "йелэна", "directors": ["Фёдор Павлов-Андреевич"], "desc": "История о сверхженщине, которая могла бы стать, как положено по истории, причиной войн и смут, восстаний и захватов городов, но вместо этого оказывается хранителем маленького и никому не видного счастья."}, {"title": "кеды", "directors": ["Руслан Маликов"], "desc": "История Гриши, который за 48 часов так и не смог купить новые кеды, но неожиданно перевернул свою жизнь"}, {"title": "бы", "directors": ["Дмитрий Соколов"], "desc": "История, что отвечает на вопрос: «Кем бы я был, если бы не был собой?»"}, {"title": "преследователь", "directors": ["Алексей Золотовицкий"], "desc": "Спектакль-переживание о таланте и предназначении по мотивам рассказа Хулио Кортасара."}, ]