doctype html
html
	head
		include header
	body
		.main_block
			.header_block
				.menu_block
					.logo
						a(href='/') PRAKTIKA
						span= ' | '
						a(href='/admin') STARGAZER
					a(href='/admin/users') ПОЛЬЗОВАТЕЛИ
					a(href='/admin/medias') ГЛАВНАЯ
					a(href='/admin/announces') АНОНСЫ
					a(href='/admin/events') СОБЫТИЯ
					a(href='/admin/members') КОМАНДА
					a(href='/admin/partners') ПАРТНЕРЫ
					a(href='/admin/slides') О ТЕАТРЕ
					a(href='/admin/documents') ДОКУМЕНТЫ
				.sub_menu_block
					block sub_menu
			.content_block
				block content