.panel: .in
	.panel_photo(style='background-image: url(' + member.photo + ')')
	.panel_body
		.member_head
			.member_name= member.i18n.name.get(locale)
			.member_roles
				each role in member.roles
					.role= __(role)
		if events.length
			.member_events
				.events_title= __('спектакли')
				.events_list
					each event in events
						a.event_item(href='/events/' + (event.sym ? event.sym : event._short_id), target='_blank')= event.i18n.title.get(locale)
		.member_description!= member.i18n.description.get(locale)