each post, i in posts
	a.post_item(class=post.view, class= !load && (i == 0 || i == 1)  ? 'double' : '', href='/posts/' + (post.sym ? post.sym : post._short_id))
		.post_poster(style='background-image: url(' + post.poster + ')'): .poster_cover
		.post_title= post.i18n.title.get(locale)
		.post_hover
			.post_date= moment(post.date).locale(locale).format('DD.MM.YYYY')
			.post_intro= post.i18n.s_title.get(locale)