doctype html
html
	head
		script(type='text/javascript', src='/libs/js/jquery-2.2.4.min.js')
		script(type='text/javascript', src='http://w.cultserv.ru/v2.2/public/js/widgetloader.js')
		script(type='text/javascript', src='/build/' + __app_name +  '/js/widget.js')
	body
		#pn_widget(style='width: 100%; height; 100%;', data-alias=alias, data-date=date, data-time=time)