each work in works
	.work_item
		a.work_link(href='/' + (work.type == 'project' ? 'projects' : 'research') + '/' + work._short_id)
			.work_poster: .poster_image(style='background-image: url(' + work.poster + ')')
			.work_title= work.i18n.title.get(locale)
			.work_s_title= work.i18n.s_title.get(locale)
		.work_categorys
			each category in work.categorys
				if (category.status !== 'special' && category.status !== 'hidden')
					a.category_item(class=category.sym, href='#' + category.sym)= category.i18n.title.get(locale)