extends layout

block header_meta
	- var content_title= __('практика') + ' : ' + __('контакты')
	- var content_description= ''

block header_include
	- var include_css = ['contacts.css']
	- var include_ext_js = ['https://maps.googleapis.com/maps/api/js?sensor=false']
	- var include_js = ['contacts.js', 'g_maps.js']


block content
	.map_block#map-canvas(data-placeholder='Большой Козихинский переулок 30')
	.contacts_block: .contacts_inner
		.column
			.title адрес
			.value
				div Большой Козихинский<br>переулок 30, метро:
				div «Маяковская», «Пушкинская»
		.column
			.title касса театра 11:00 – 21:00
			.value
				div: a(href='tel:+7 (495) 544-55-45') +7 495 544-55-45
				div: a(href='mailto:tickets@praktikatheatre.ru') tickets@praktikatheatre.ru
		.column
			.title PR-директор
			.value
				div Арина Светлица
				div: a(href='mailto:as@praktikatheatre.ru') as@praktikatheatre.ru
				div: a(href='tel:+7 (916) 902-64-61') +7 916 902-64-61
		.column
			.title запись для студентов
			.value
				div Дарья Панина
				div: a(href='mailto:podushka@praktikatheatre.ru') podushka@praktikatheatre.ru