extends layout

block header_meta
	- var content_title= __('практика') + ' : ' + __('Документы').toLowerCase()
	- var content_description= ''

block header_include
	- var include_css = ['docs.css']
	//- - var include_js = ['docs.js']


block content
	.docs_title= __('Документы')
	.docs_list
		each doc in docs
			a.doc_item(href=doc.attach, target='_blank')= doc.i18n.title.get(locale)