extends layout

block header_meta
	- var content_title= __('практика') + ' : ' + __('документы')
	- var content_description= ''

block header_include
	- var include_css = ['docs.css']
	- var include_js = ['docs.js']


block content
	h1 Документы!
	each doc in docs
		a(href=doc.attach).doc_item= doc.i18n.title.get(locale)
		br