extends layout

block header_meta
	- var content_title= __('практика') + ' : ' + event.i18n.title.get(locale)
	- var content_description= event.i18n.description.get(locale)

block header_include
	- var include_css = ['event.css']
	- var include_js = ['event.js']


block content
	h1 Event!