extends layout

block header_meta
	- var content_title= __('практика') + ' : ' + __('репертуар')
	- var content_description= ''

block header_include
	- var include_css = ['events.css']
	//- - var include_js = ['events.js']


block content
	.events_block
		each event in events
			.event_item
				.event_poster
					.poster_main(style='background-image: url(' + event.poster + ')')
					.poster_hover(style='background-image: url(' + event.poster_hover + ')')
				.event_title= event.i18n.title.get(locale)
				.event_s_title= event.i18n.s_title.get(locale)