extends layout

block header_meta
	- var content_title= __('практика')
	- var content_description= ''
	- var content_style = 'white'

block header_include
	- var include_libs_css = ['swiper.min.css']
	- var include_css = ['main.css']
	- var include_libs_js = ['swiper.min.js']
	- var include_js = ['main.js']


block content
	a.announcement_block(href='/events')
		.announcement_title обновилось расписание на январь
		.announcement_desc Успейте купить билеты на детскую новогоднюю программу и любимые спектакли
	.slider_block.swiper-container
		.swiper-wrapper
			each slide, i in new Array(1)
				.slide_item.swiper-slide(style='background-image: url(/stuff/praktika/main/' + (i+1) + '.jpg)'): .slide_holder
		.swiper-pagination.swiper-pagination-white