extends layout

block header_meta
	- var content_title= __('практика') + ' : ' + __('Партнеры').toLowerCase()
	- var content_description= ''

block header_include
	- var include_css = ['partners.css']
	//- - var include_js = ['partners.js']


block content
	.partners_title= __('Партнеры')
	.partners_list
		each partner in partners
			a.partner_item(href=partner.link, target='_blank', rel='nofollow')
				.partner_title= partner.i18n.title.get(locale)
				.partner_logo(style='background-image: url(' + partner.logo + ')')