extends layout

block header_meta
	- var content_title= __('практика') + ' : ' + __('журнал') + (post_item.i18n.title.get(locale) ? ' : ' +  post_item.i18n.title.get(locale).toLowerCase() : '')
	- var content_description = post_item.i18n.s_title.get(locale)
	- var content_images = [post_item.poster]
	- var content_style = post_item.style

block header_include
	- var include_css = ['post.css']
	- var include_js = ['post.js']


block over
	.post_header(style='background-image: url(' + post_item.poster + ')')
		.post_header_meta
			.post_header_title= post_item.i18n.title.get(locale)
			.post_header_s_title= post_item.i18n.s_title.get(locale)
		.post_header_date= moment(post_item.date).locale(locale).format('DD.MM.YYYY')


block content
	.post_content
		.content_description!= post_item.i18n.description.get(locale)
		.content_share
			.share_title поделиться
			.share_buttons
				img.button.fb(src='/stuff/praktika/social/facebook.svg')
				img.button.twitter(src='/stuff/praktika/social/twitter.svg')
				img.button.vk(src='/stuff/praktika/social/vk.svg')
