extends layout

block header_meta
	- var content_title= __('практика') + ' : ' + __('Студентам').toLowerCase()
	- var content_description= ''

block header_include
	- var include_css = ['students.css']
	//- - var include_js = ['students.js']


block content
	.students_title= __('Студентам')
	.students_content
		span= __('Студенты могут бесплатно попасть на спектакли «Практики» при наличии такой возможности. Для этого необходимо в день спектакля написать на') + ' '
		a(href='mailto:podushka@praktikatheatre.ru') podushka@praktikatheatre.ru
		br
		br
		span= __('В течение короткого времени вам ответит администратор и сообщит о возможности посещения театра в этот день.')