extends layout

block header_meta
	- var content_title= __('практика') + ' : ' + __('команда')
	- var content_description= ''

block header_include
	- var include_libs_css = ['swiper.min.css']
	- var include_css = ['team.css']
	- var include_libs_js = ['swiper.min.js']
	- var include_js = ['team.js']


block content
	.members_header: .members_header_inner
		.members_title(data-title='команда') команда
		.members_category все

	.members_list
		include p_db/members.jade
		each member, i in new Array(60)
			.member_item(data-name=members[i] ? members[i] : i): .in(style= members[i] ? 'background-image: url(/stuff/praktika/members/' + i + '.jpg)' : '')
		.panel(style='display: none;'): .in
			.panel_photo(style='background-image: url(/stuff/praktika/members/3.jpg)')
			.panel_body
				.member_head
					.member_name яна енжаева
					.member_category актер
				.member_events
					.events_title спектакли
					.events_list
						a.event_item(href='#') Девушка в любви
						a.event_item(href='#') Кеды
				.member_description
					p Выпускница Школы-студии МХАТ (2015 г.), актриса Мастерской Дмитрия Брусникина.
					p В Мастерской Дмитрия Брусникина занята в спектаклях «Это тоже я» (театр «Практика»), «Конармия» (Центр имени Вс. Мейерхольда), «Наташина
					p мечта» (драматический театр «Человек»), «Бесы» и «Второе видение» (Боярские палаты СТД).
					p Снималась в фильмах «Кухня в Париже», «Выпускной». Работы на ТВ: «Легко ли быть молодым» (ТНТ), «Эти глаза напротив», «Метод».