extends layout

block header_meta
	- var content_title= __('практика') + ' : ' + __('команда')
	- var content_description= ''

block header_include
	- var include_css = ['team.css']
	- var include_js = ['team.js']


block content
	.members_header: .members_header_inner
		.members_title(data-title=__('команда'))= __('команда')
		.members_roles= __('все')

	.members_list
		each member in members
			.member_item(id=member._short_id, data-name=member.i18n.name.get(locale)): .in(style='background-image: url(' + member.photo + ')')